<html>
    <head>
        <title>LifeStyle</title>
         
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">



    </head>
    <body id="body">
        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<div class="text-center">
    <form action="/search" method="post" enctype="application/x-www-form-urlencoded">
  <input type="text" class="search-input" id="search">
  <input type="submit" value="search" id="submit">
  </form>
  
    <!-- Seach Icon -->
    
  
</div>
<br/> <br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col p-5">
            
            <div class="card mx-auto text-center" style="width: 18rem;" id="card1">
  <img class="card-img-top" src="../images/index.jpeg" alt="Card image cap" id="image1" height="200">
  <div class="card-body">
    <h5 class="card-title">General Lifestyle Disease Test</h5>
    <p class="card-text">Here we take info and feed it to model to predict a wide variety of diseases</p>
    <a href="/generaltest" class="btn btn-primary">General Test</a>
  </div></div>


  </div>
  <div class="col p-5">
                  <div class="card mx-auto text-center" style="width: 18rem;" id="card1"  >
  <img class="card-img-top" src="../images/images.jpeg" alt="Card image cap" id="image1" height="200">
  <div class="card-body">
    <h5 class="card-title">Three Focused Lifestyle Disease text</h5>
    <p class="card-text">Here we take info and feed it to model to predict Common variety of Three diseases</p>
    <a href="http://teamrobot.ddns.net:3000/" class="btn btn-primary">Focused test </a>
  </div></div>

  </div>
        </div>
    </div>

    </body>
</html>