#body{
  background-color: black;
  color: white;
}
/* div */

#search{
  border-radius: 30px;
  height: 40px;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-size: 50px;
  padding-left: 40px;
  margin-top: 20vh;

}

#card1{
  border-radius: 40px;
  background-color: black;
  color: white;
  border-color: white;
}
#image1{
  border-radius: 40px;
}
footer{
  color:white;
}
#heartcol{
  border-radius: 40px;
  background-color: blueviolet;
  color:white;
}
#submit{
  background-color: honeydew;
  color:black;
  border-radius: 30px;
}