<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Disease Prediction Model based on Decision tree
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 pt-2">
            <div class="card mx-auto" style="width: 18rem;" id="card1">
  <img class="card-img-top" src="./images/sugar.jpg" alt="Card image cap" width="50" height="200" id="image1">
  <div class="card-body">
    <h5 class="card-title">Check For Diabetes</h5>
    <p class="card-text">This model predicts your chance of having diabetes based on your inputs and comparing it against
        a machine learning model called Decision tree
    </p>
    <a href="/diabetesform" class="btn btn-primary">Predict Your Diabetes</a>
  </div>
</div>
        </div>
    

        <div class="col-md-4 p-2">
            <div class="card mx-auto" style="width: 18rem;" id="card1">
  <img class="card-img-top" src="./images/stroke.jpeg" alt="Card image cap" width="50" height="200" id="image2">
  <div class="card-body">
    <h5 class="card-title">Stroke</h5>
    <p class="card-text">This model predicts your chance of having Stroke based on your inputs and comparing it against
        a machine learning model called <br/>Decision tree
    </p>
    <a href="/strokeform" class="btn btn-primary">Predict Your Stroke</a>
  </div>
</div>
        </div>



        <div class="col-md-4 p-2">
            <div class="card mx-auto" style="width: 18rem;" id="card1">
  <img class="card-img-top" src="./images/heart.jpeg" alt="Card image cap" width="50" height="200" id="image3">
  <div class="card-body">
    <h5 class="card-title"> Heart Disease</h5>
    <p class="card-text">This model predicts your chance of having Heart Diseases based on your inputs and comparing it against
        a machine learning model called Decision tree
    </p>
    <a href="/heartform" class="btn btn-primary">Predict Your Heart Disease</a>
  </div>
</div>
        </div>


